<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Training Point</title>
<th:block id="css-resources">
	<link rel="stylesheet" th:href="@{/css/common/main.css}">
	<link rel="stylesheet" th:href="@{/css/common/footer.css}">
	<link rel="stylesheet" th:href="@{/css/student/form.css}">
	<link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</th:block>

<th:block id="js-resources">
	<!--     var authority = "[[${userDetail.authorities}]]"; -->
	<!--     console.log("Authority cua user Hien Tai Tren Console: " + authority); -->
	<script type="text/javascript" th:src="@{/js/student/editForm.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/navigation.js}"></script>
	<script type="module" th:src="@{/js/common/initPoint.js}"></script>
	<!-- 	<script type="text/javascript" th:src="@{/js/student/viewForm.js}"></script> -->
	<script th:src="@{/vendor/jquery/jquery-3.6.0.min.js}"></script>

</th:block>
</head>
<body>
	<main id="main-content">
		<th:block th:replace="~{fragment/consultantNav :: ${consultantNav}}"></th:block>

		<form action="#" th:action="@{/saveEvaluationFormOfConsultant}"
			th:object="${evaluation}" method="post">

			<input type="hidden" th:field="*{id}">

			<div class="main mainForm">

				<div class="col-sm-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="fas fa-pen-alt"></i> <span>Đánh giá Điểm rèn
								luyện của sinh viên</span>
						</h1>
					</div>
					<div class="row" style="margin-top: 20px">
						<div class="col-sm-2">
							<a href="#" class="previous changeStudent">&laquo; Sinh viên
								trước</a>
						</div>
						<div class="col-sm-8"></div>
						<div class="col-sm-2">
							<a href="#" class="next changeStudent">Sinh viên sau &raquo;</a>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="tab-content">
						<div class="col-md-10">
							<div class="form-group row">
								<label for="inputMsv" class="col-sm-2 col-form-label">Mã
									sinh viên</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="inputStudentID"
										th:field="*{student.user.username}" disabled>
								</div>
							</div>

							<div class="form-group row">
								<label for="inputNamHoc" class="col-sm-2 col-form-label">Năm
									học</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="inputSchoolYear"
										disabled th:field="*{year}">
								</div>
							</div>

							<div class="form-group row">
								<label for="inputHocKy" class="col-sm-2 col-form-label">Học
									kỳ</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="inputSemester"
										disabled th:field="*{semesterInYear}">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="tab-content">
						<div class="col-md-12"
							th:onmousemove="evaluateTotalPoint('evaluateTotalPointAll')">
							<div class="form-group row">
								<label class="col-sm-8 col-form-label formHeader">Nội
									dung đánh giá</label> <label class="col-sm-2 col-form-label formHeader">Đánh
									giá</label> <label class="col-sm-1 col-form-label formHeader">SV</label>
								<label
									class="col-sm-1 col-form-label formHeader monitorEvaluation">BCS
									Lớp BCH CĐ</label>
							</div>

							<div class="seperator"></div>

							<div id="part1"
								th:onmousemove="evaluateTotalPoint1('evaluateTotalPoint1')">
								<div th:onmousemove="evaluateTotal1('evaluateTotal1')">
									<div th:onmousemove="total1('total1')">
										<div th:onmousemove="totalPointFinal1('totalPointFinal1')">
											<div class="form-group row">
												<label class="col-sm-11 heading1">1. Ý thức học tập</label>
												<div class="col-sm-1"></div>
												<div class="col-sm-1"></div>
											</div>

											<div class="form-group row">
												<label class="col-sm-8 heading2">&nbsp;&nbsp;1.1 Ý
													thức và thái độ trong học tập</label>
												<div class="col-sm-2"></div>

											</div>

											<div class="form-group row">
												<label for="inputDiHocDungGio"
													class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Đi
													học đầy đủ, đúng giờ, nghiêm túc trong giờ học, giờ thực
													hành <i>(cộng 3đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputDiHocDungGio"
														th:field="*{evaluationFormOfClassPresident.di_hoc_dung_gio}"
														th:onclick="clickAndPlusThree(this.id)">
												</div>
												<div class="col-sm-1 plusPoint" id="pointDiHocDungGio"
													th:text="${evaluation.di_hoc_dung_gio == true ? 3 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateDiHocDungGio">0</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-8 heading2">&nbsp;&nbsp;1.2 Kết
													quả học tập trong kỳ học</label>
												<div class="col-sm-2"></div>
												<div class="col-sm-1"></div>
											</div>

											<div class="form-group row">
												<label for="inputHocLuc" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Có
													kết quả học tập xếp loại Xuất sắc <i>(cộng 10đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox" id="inputHocLuc"
														name="hoc_luc" th:onclick="clickAndPlusTen(this.id)"
														th:field="*{evaluationFormOfClassPresident.hoc_luc_gioi_xuat_sac}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointHocLuc"
													th:text="${evaluation.hoc_luc_gioi_xuat_sac == true ? 10 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateHocLuc">0</div>
											</div>

											<div class="form-group row">
												<label for="inputHocLucGioi" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Có
													kết quả học tập đạt loại Giỏi <i>(cộng 8đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputHocLucGioi" name="hoc_luc"
														th:onclick="clickAndPlusEight(this.id)"
														th:field="*{evaluationFormOfClassPresident.hoc_luc_gioi}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointHocLucGioi"
													th:text="${evaluation.hoc_luc_gioi == true ? 8 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateHocLucGioi">0</div>
											</div>

											<div class="form-group row">
												<label for="inputHocLucKha" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+
													Có kết quả học tập đạt loại Khá <i>(cộng 6đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox" id="inputHocLucKha"
														name="hoc_luc" th:onclick="clickAndPlusSix(this.id)"
														th:field="*{evaluationFormOfClassPresident.hoc_luc_kha}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointHocLucKha"
													th:text="${evaluation.hoc_luc_kha == true ? 6 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateHocLucKha">0</div>
											</div>

											<div class="form-group row">
												<label for="inputHocLucTrungBinh"
													class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+
													Có kết quả học tập đạt loại Trung bình <i>(cộng 3đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputHocLucTrungBinh" name="hoc_luc"
														th:onclick="clickAndPlusThree(this.id)"
														th:field="*{evaluationFormOfClassPresident.hoc_luc_trungbinh}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointHocLucTrungBinh"
													th:text="${evaluation.hoc_luc_trungbinh == true ? 3 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateHocLucTrungBinh">0</div>
											</div>

											<div class="form-group row">
												<label for="inputHocLucDuoiTrungBinh"
													class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+
													Có kết quả học tập đạt loại dưới Trung bình <i>(cộng
														0đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputHocLucDuoiTrungBinh" name="hoc_luc"
														th:onclick="clickAndPlusZero(this.id)"
														th:field="*{evaluationFormOfClassPresident.hoc_luc_duoi_trungbinh}">
												</div>
												<div class="col-sm-1 plusPoint"
													id="pointHocLucDuoiTrungBinh"
													th:text="${evaluation.hoc_luc_duoi_trungbinh == true ? 0 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateHocLucDuoiTrungBinh">0</div>
											</div>

											<div class="form-group row">
												<label for="inputHocLucYeu" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Học
													lại (phần lý thuyết/ thực hành) <i>(trừ 1đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox" id="inputHocLucYeu"
														name="hoc_luc"
														th:field="*{evaluationFormOfClassPresident.hoc_luc_yeu}"
														th:onclick="clickAndMinusOne(this.id)">
												</div>
												<div class="col-sm-1 minusPoint" id="pointHocLucYeu"
													th:text="${evaluation.hoc_luc_yeu == true ? -1 : 0}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateHocLucYeu">0</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-8 heading2">&nbsp;&nbsp;1.3 Ý
													thức chấp hành tốt nội quy về các kỳ thi.Sinh viên bị trừ
													điểm trong các trường hợp/1 lần vi phạm:</label>
												<div class="col-sm-2"></div>
												<div class="col-sm-1 benchmark" id="total1">4</div>
												<div class="col-sm-1 benchmark monitorEvaluation"
													id="evaluateTotal1">4</div>
											</div>

											<div class="form-group row">
												<label for="inputCamThiBoThi" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;Không
													đủ điều kiện dự thi/bị cấm thi cho mỗi học phần (lý thuyết/
													thực hành) <i>(trừ 2đ/lần)</i>
												</label>
												<div class="col-sm-2">
													<input type="number" class="form-control"
														id="inputCamThiBoThi" placeholder="Số lần"
														th:field="*{evaluationFormOfClassPresident.cam_thi_bo_thi}"
														th:onchange="minusTwoPerTime(this.id)">
												</div>
												<div class="col-sm-1 minusPoint" id="pointCamThiBoThi"
													th:text="${evaluation.cam_thi_bo_thi * -2}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateCamThiBoThi">0</div>
											</div>

											<div class="form-group row">
												<label for="inputKhienTrach" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;+
													Bị lập biên bản khiển trách khi thi kết thúc học phần <i>(trừ
														2đ/lần)</i>
												</label>
												<div class="col-sm-2">
													<input type="number" class="form-control"
														id="inputKhienTrach" placeholder="Số lần"
														th:field="*{evaluationFormOfClassPresident.khien_trach}"
														th:onchange="minusTwoPerTime(this.id)">
												</div>
												<div class="col-sm-1 minusPoint" id="pointKhienTrach"
													th:text="${evaluation.khien_trach * -2}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateKhienTrach">0</div>
											</div>

											<div class="form-group row">
												<label for="inputCanhCao" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;+
													Bị lập biên bản cảnh cáo khi thi kết thúc học phần <i>(trừ
														3đ/lần)</i>
												</label>
												<div class="col-sm-2">
													<input type="number" class="form-control" id="inputCanhCao"
														placeholder="Số lần"
														th:field="*{evaluationFormOfClassPresident.canh_cao}"
														th:onchange="minusThreePerTime(this.id)">
												</div>
												<div class="col-sm-1 minusPoint" id="pointCanhCao"
													th:text="${evaluation.canh_cao * -3}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateCanhCao">0</div>
											</div>

											<div class="form-group row">
												<label for="inputDinhChi" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;+
													Bị lập biên bản đình chỉ khi thi kết thúc học phần <i>(trừ
														4đ/lần)</i>
												</label>
												<div class="col-sm-2">
													<input type="number" class="form-control" id="inputDinhChi"
														placeholder="Số lần"
														th:field="*{evaluationFormOfClassPresident.dinh_chi}"
														th:onchange="minusFourPerTime(this.id)">
												</div>
												<div class="col-sm-1 minusPoint" id="pointDinhChi"
													th:text="${evaluation.dinh_chi * -4}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateDinhChi">0</div>
											</div>

											<div class="form-group row">
												<label for="inputThamGiaHoatDong"
													class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;1.4
													Ý thức và thái độ tham gia các hoạt động ngoại khóa, các sự
													kiện liên quan đến nghiên cứu khoa học, học thuật, chuyên
													môn, Câu lạc bộ (1 điểm/1 sự kiện, hoạt động tham gia, tổng
													điểm không vượt quá 2 điểm)</label>
												<div class="col-sm-2">
													<input type="number" class="form-control"
														id="inputThamGiaHoatDong" placeholder="Số lần"
														th:onchange="plusOnePerTime(this.id)"
														th:field="*{evaluationFormOfClassPresident.tham_gia_hoat_dong}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointThamGiaHoatDong"
													th:text="${evaluation.tham_gia_hoat_dong * 1}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateThamGiaHoatDong">0</div>
											</div>

											<div class="form-group row">
												<label for="inputVuotKho" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5
													Tinh thần vượt khó, phấn đấu vươn lên trong học tập (có
													ĐTBCTL học kỳ sau lớn hơn học kỳ trước đó; đối với sinh
													viên năm thứ nhất, học kỳ 1 không có điểm dưới 2,5)<i>(cộng
														1đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox" id="inputVuotKho"
														th:onclick="clickAndPlusOne(this.id)"
														th:field="*{evaluationFormOfClassPresident.vuot_kho}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointVuotKho"
													th:text="${evaluation.vuot_kho == true ? 1 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateVuotKho">0</div>
											</div>


											<div class="form-group row">
												<div class="col-sm-10" id="totalPoint1">Điểm kết luận
													của 1. [0, 20]</div>
												<div class="col-sm-1 benchmark" id="totalPointFinal1">0</div>
												<div class="col-sm-1 benchmark monitorEvaluation"
													id="evaluateTotalPoint1">0</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="seperator"></div>
							<div id="part2"
								th:onmousemove="evaluateTotalPoint2('evaluateTotalPoint2')">
								<div th:onmousemove="evaluateTotal2('evaluateTotal2')">
									<div th:onmousemove="total2('total2')">
										<div th:onmousemove="totalPointFinal2('totalPointFinal2')">
											<div class="form-group row">
												<label class="col-sm-11 heading1">2. Đánh giá về ý
													thức chấp hành nội quy, quy chế, quy định của Học viện</label>
												<div class="col-sm-1"></div>
											</div>

											<div class="form-group row">
												<label class="col-sm-8 heading2">&nbsp;&nbsp;2.1
													Thực hiện nghiêm túc các nội quy, quy chế, các quy. Sinh
													viên bị trừ điểm trong các trường hợp</label>
												<div class="col-sm-2"></div>
												<div class="col-sm-1 benchmark" id="total2">15</div>
												<div class="col-sm-1 benchmark monitorEvaluation"
													id="evaluateTotal2">15</div>
											</div>


											<div class="form-group row">
												<label for="inputKhongDongHocPhi" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;+
													Không đóng học phí theo quy định<i>(trừ 15đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputKhongDongHocPhi"
														th:onclick="clickAndMinus15(this.id)"
														th:field="*{evaluationFormOfClassPresident.khong_dong_hoc_phi}">
												</div>
												<div class="col-sm-1 minusPoint" id="pointKhongDongHocPhi"
													th:text="${evaluation.khong_dong_hoc_phi == true ? -15 : 0}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateKhongDongHocPhi">0</div>
											</div>

											<div class="form-group row">
												<label for="inputViPhamCuTru" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;+
													Không thực hiện quy định về công tác ngoại trú, nội trú <i>(trừ
														5đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputViPhamCuTru"
														th:onclick="clickAndMinusFive(this.id)"
														th:field="*{evaluationFormOfClassPresident.vi_pham_quy_dinh_cu_tru}">
												</div>
												<div class="col-sm-1 minusPoint" id="pointViPhamCuTru"
													th:text="${evaluation.vi_pham_quy_dinh_cu_tru == true ? -5 : 0}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateViPhamCuTru">0</div>
											</div>

											<div class="form-group row">
												<label for="inputNghiemTuc"
													class="col-sm-8 col-form-label heading2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2
													- Thực hiện nghiêm túc các buổi họp lớp/ sinh hoạt đoàn thể
													do Học viện/Khoa/Viện, CVHT, Lớp/Chi đoàn tổ chức (tùy
													thuộc vào số buổi tổ chức sinh hoạt, họp) <i>(cộng 5đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox" id="inputNghiemTuc"
														th:onclick="clickAndPlusFive(this.id)"
														th:field="*{evaluationFormOfClassPresident.nghiem_tuc}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointNghiemTuc"
													th:text="${evaluation.nghiem_tuc == true ? 5 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateNghiemTuc">0</div>
											</div>

											<div class="form-group row">
												<label for="inputKhongHopLop" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-
													Vắng 01 buổi họp lớp/ sinh hoạt đoàn thể (không lý do) <i>(trừ
														1đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputKhongHopLop"
														th:onclick="clickAndMinusOne(this.id)"
														th:field="*{evaluationFormOfClassPresident.khong_hop_lop}">
												</div>
												<div class="col-sm-1 minusPoint" id="pointKhongHopLop"
													th:text="${evaluation.khong_hop_lop == true ? -1 : 0}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateKhongHopLop">0</div>
											</div>

											<div class="form-group row">
												<label for="inputHoiThao"
													class="col-sm-8 col-form-label heading2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.3
													- Tham gia các buổi hội thảo việc làm, định hướng nghề
													nghiệp do Học viện tổ chức (1 điểm/1 sự kiện tham gia, tổng
													điểm không vượt quá 5 điểm) <i>(cộng 5đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox" id="inputHoiThao"
														th:onclick="clickAndPlusFive(this.id)"
														th:field="*{evaluationFormOfClassPresident.hoi_thao}">
												</div>
												<div class="col-sm-1 plusPoint" id="pointHoiThao"
													th:text="${evaluation.hoi_thao == true ? 5 : 0}">0</div>
												<div class="col-sm-1 plusPoint monitorEvaluation"
													id="evaluateHoiThao">0</div>
											</div>

											<div class="form-group row">
												<label for="inputVangHoiThao" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-
													Vắng 01 buổi hội thảo <i>(trừ 1đ)</i>
												</label>
												<div class="col-sm-2">
													<input class="checkbox" type="checkbox"
														id="inputVangHoiThao"
														th:onclick="clickAndMinusOne(this.id)"
														th:field="*{evaluationFormOfClassPresident.vang_hoi_thao}">
												</div>
												<div class="col-sm-1 minusPoint" id="pointVangHoiThao"
													th:text="${evaluation.vang_hoi_thao == true ? -1 : 0}">0</div>
												<div class="col-sm-1 minusPoint monitorEvaluation"
													id="evaluateVangHoiThao">0</div>
											</div>

											<div class="form-group row">
												<div class="col-sm-10" id="totalPoint2">Điểm kết luận
													của 2. [0, 25]</div>
												<div class="col-sm-1 benchmark" id="totalPointFinal2">0</div>
												<div class="col-sm-1 benchmark monitorEvaluation"
													id="evaluateTotalPoint2">0</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="seperator"></div>

							<div id="part3">
								<div th:onmousemove="evaluateTotalPoint3('evaluateTotalPoint3')">
									<div th:onmousemove="totalPointFinal3('totalPointFinal3')">

										<div class="form-group row">
											<label class="col-sm-11 heading1">3. Đánh giá về ý
												thức và kết quả tham gia hoạt động chính trị- xã hội, văn
												hóa, văn nghệ, thể thao, phòng chống tội phạm và các tệ nạn
												xã hội</label>
											<div class="col-sm-1"></div>
										</div>

										<div class="form-group row">
											<label for="inputThamGiaChinhTri"
												class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;3.1
												Tham gia đầy đủ các hoạt động chính trị, xã hội, các hoạt
												động văn hóa, văn nghệ, thể thao, phong trào tình nguyện,
												các buổi sinh hoạt chuyên đề do Học viện, lớp/chi đoàn, địa
												phương nơi cư trú tổ chức (2 điểm/1 hoạt động, tổng điểm
												không vượt quá 10 điểm)<i>(cộng 10đ)</i>
											</label>
											<div class="col-sm-2">
												<input type="number" class="form-control"
													id="inputThamGiaChinhTri" placeholder="Số lần"
													th:onchange="plusTwoPerTime(this.id)"
													th:field="*{evaluationFormOfClassPresident.tham_gia_chi_doan_chinh_tri}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointThamGiaChinhTri"
												th:text="${evaluation.tham_gia_chi_doan_chinh_tri * 2}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateThamGiaChinhTri">0</div>
										</div>

										<div class="form-group row">
											<label for="inputHienMau" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;3.2
												Tham gia công tác xã hội như: hiến máu nhân đạo, ủng hộ
												người nghèo gặp thiên tai lũ lụt và các công tác xã hội khác
												(1 điểm/1 hoạt động tham gia, tổng điểm không vượt quá 4
												điểm)</label>
											<div class="col-sm-2">
												<input type="number" class="form-control" id="inputHienMau"
													placeholder="Số lần" th:onchange="plusOnePerTime(this.id)"
													th:field="*{evaluationFormOfClassPresident.hien_mau}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointHienMau"
												th:text="${evaluation.hien_mau * 1}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateHienMau">0</div>
										</div>

										<div class="form-group row">
											<label for="inputTuyenTruyen" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;3.3
												Tuyên truyền tích cực hình ảnh về Trường/Khoa trên các trang
												mạng xã hội (1 điểm/1 hoạt động, tổng điểm không vượt quá 3
												điểm)</label>
											<div class="col-sm-2">
												<input type="number" class="form-control"
													id="inputTuyenTruyen" placeholder="Số lần"
													th:onchange="plusOnePerTime(this.id)"
													th:field="*{evaluationFormOfClassPresident.tuyen_truyen}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointTuyenTruyen"
												th:text="${evaluation.tuyen_truyen * 1}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateTuyenTruyen">0</div>
										</div>

										<div class="form-group row">
											<label for="inputChongMaTuy" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tích
												cực tham gia các hoạt động phòng, chống tội phạm, các tệ nạn
												xã hội, phát hiện và báo cáo kịp thời những hành vi có liên
												quan đến ma túy, các tệ nạn xã hội khác <i>(cộng 3đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox" id="inputChongMaTuy"
													th:onclick="clickAndPlusThree(this.id)"
													th:field="*{evaluationFormOfClassPresident.chong_ma_tuy}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointChongMaTuy"
												th:text="${evaluation.chong_ma_tuy == true? 3 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateChongMaTuy">0</div>
										</div>

										<div class="form-group row">
											<label for="inputSaiLech" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;Đưa
												các thông tin sai lệch, thông tin chưa được kiểm chứng, đăng
												bình luận không chính xác, thiếu tích cực về Học
												viện/Khoa/ngành đang học. <i>(trừ 10đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox" id="inputSaiLech"
													th:onclick="clickAndMinusTen(this.id)"
													th:field="*{evaluationFormOfClassPresident.sai_lech}">
											</div>
											<div class="col-sm-1 minusPoint" id="pointSaiLech"
												th:text="${evaluation.sai_lech == true ? -10 : 0}">0</div>
											<div class="col-sm-1 minusPoint monitorEvaluation"
												id="evaluateSaiLech">0</div>
										</div>



										<div class="form-group row">
											<div class="col-sm-10" id="totalPoint3">Điểm kết luận
												của 3. [0, 20]</div>
											<div class="col-sm-1 benchmark" id="totalPointFinal3">0</div>
											<div class="col-sm-1 benchmark monitorEvaluation"
												id="evaluateTotalPoint3">0</div>
										</div>
									</div>
								</div>
							</div>


							<div class="seperator"></div>

							<div id="part4">
								<div th:onmousemove="evaluateTotalPoint4('evaluateTotalPoint4')">
									<div th:onmousemove="totalPointFinal4('totalPointFinal4')">
										<div class="form-group row">

											<label class="col-sm-10 heading1">4. Đánh giá ý thức
												công dân trong quan hệ cộng đồng</label>
											<div class="col-sm-1"></div>
											<div class="col-sm-1"></div>
										</div>

										<div class="form-group row">
											<label for="inputChapHanhLuat"
												class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.1
												Chấp hành nghiêm chỉnh chủ trương của Đảng, chính sách, pháp
												luật của Nhà nước, Học viện và của địa phương nơi cư trú <i>(cộng
													8đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputChapHanhLuat"
													th:onclick="clickAndPlusEight(this.id)"
													th:field="*{evaluationFormOfClassPresident.chap_hanh_luat}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointChapHanhLuat"
												th:text="${evaluation.chap_hanh_luat == true ? 8 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateChapHanhLuat">0</div>

										</div>

										<div class="form-group row">
											<label for="inputTuyenTruyenDang"
												class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2
												Tích cực tham gia tuyên truyền chủ trương của Đảng, chính
												sách, pháp luật của Nhà nước, Học viện và quy định của địa
												phương nơi cư trú; có ý thức thực hiện giữ gìn vệ sinh chung
												<i>(cộng 5đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputTuyenTruyenDang"
													th:onclick="clickAndPlusFive(this.id)"
													th:field="*{evaluationFormOfClassPresident.tuyen_truyen_dang}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointTuyenTruyenDang"
												th:text="${evaluation.tuyen_truyen_dang == true ? 5 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateTuyenTruyenDang">0</div>

										</div>

										<div class="form-group row">
											<label for="inputQuanHeDungMuc"
												class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.3
												Có mối quan hệ đúng mực với Thầy/ Cô, cán bộ, nhân viên Học
												viện <i>(cộng 5đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputQuanHeDungMuc"
													th:onclick="clickAndPlusFive(this.id)"
													th:field="*{evaluationFormOfClassPresident.quan_he_dung_muc}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointQuanHeDungMuc"
												th:text="${evaluation.quan_he_dung_muc == true ? 5 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateQuanHeDungMuc">0</div>

										</div>

										<div class="form-group row">
											<label for="inputQuanHeDungTot"
												class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.4
												Có mối quan hệ tốt với bạn bè trong lớp và mọi người xung
												quanh; có tinh thần đoàn kết, chia sẻ, giúp đỡ nhau trong
												học tập và các vấn đề khác trong cộng đồng <i>(cộng 5đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputQuanHeDungTot"
													th:onclick="clickAndPlusFive(this.id)"
													th:field="*{evaluationFormOfClassPresident.quan_he_dung_tot}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointQuanHeDungTot"
												th:text="${evaluation.quan_he_dung_tot == true ? 5 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateQuanHeDungTot">0</div>

										</div>

										<div class="form-group row">
											<label for="inputKhenCongDong"
												class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.5
												Được biểu dương khen thưởng trong các hoạt động liên quan
												đến ý thức công dân trong quan hệ cộng đồng <i>(cộng 2đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputKhenCongDong"
													th:onclick="clickAndPlusTwo(this.id)"
													th:field="*{evaluationFormOfClassPresident.khen_cong_dong}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointKhenCongDong"
												th:text="${evaluation.khen_cong_dong == true ? 2 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateKhenCongDong">0</div>

										</div>

										<div class="form-group row">
											<label for="inputViPhamAnNinh" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;4.6
												Vi phạm an ninh, trật tự xã hội; an toàn giao thông (có giấy
												báo của các cơ quan hữu quan) <i>(trừ 5đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputViPhamAnNinh"
													th:onclick="clickAndMinusFive(this.id)"
													th:field="*{evaluationFormOfClassPresident.vi_pham_an_ninh}">
											</div>
											<div class="col-sm-1 minusPoint" id="pointViPhamAnNinh"
												th:text="${evaluation.vi_pham_an_ninh == true ? -5 : 0}">0</div>
											<div class="col-sm-1 minusPoint monitorEvaluation"
												id="evaluateViPhamAnNinh">0</div>

										</div>

										<div class="form-group row">
											<div class="col-sm-10" id="totalPoint4">Điểm kết luận
												của 4. [0, 25]</div>
											<div class="col-sm-1 benchmark" id="totalPointFinal4">0</div>
											<div class="col-sm-1 benchmark monitorEvaluation"
												id="evaluateTotalPoint4">0</div>
										</div>
									</div>
								</div>
							</div>
							<div class="seperator"></div>

							<div id="part5">
								<div th:onmousemove="evaluateTotalPoint5('evaluateTotalPoint5')">
									<div th:onmousemove="totalPointFinal5('totalPointFinal5')">
										<div class="form-group row">
											<label class="col-sm-10 heading1">5. Đánh giá về ý
												thức và kết quả tham gia phụ trách lớp, các đoàn thể trong
												nhà trường, thành tích đặc biệt trong học tập và rèn luyện</label>
											<div class="col-sm-1"></div>
										</div>

										<div class="form-group row">
											<label for="inputGiuChucVu" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Sinh
												viên được Học viện phân công làm lớp trưởng, lớp phó; bí
												thư, phó bí thư chi đoàn, BCH đoàn Học viện/khoa; BCH Hội
												sinh viên Học viện/khoa; chủ nhiệm, phó chủ nhiệm các các
												Câu lạc bộ, đội nhóm trực thuộc Học viện/khoa được tập thể
												sinh viên và đơn vị quản lý ghi nhận hoàn thành nhiệm vụ.<i>(cộng
													4đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox" id="inputGiuChucVu"
													th:onclick="clickAndPlusFour(this.id)"
													th:field="*{evaluationFormOfClassPresident.giu_chuc_vu}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointGiuChucVu"
												th:text="${evaluation.giu_chuc_vu == true ? 4 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateGiuChucVu">0</div>

										</div>

										<div class="form-group row">
											<label for="inputThamGiaCLB" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Thành
												viên tham gia các Câu lạc bộ, đội nhóm trực thuộc Học
												viện/khoa được tập thể sinh viên và đơn vị quản lý ghi nhận
												hoàn thành tốt nhiệm vụ; sinh viên tham gia tổ chức các
												chương trình, là cộng tác viên tham gia tích cực vào các
												hoạt động chung cấp Học viện,<i>(cộng 3đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox" id="inputThamGiaCLB"
													th:onclick="clickAndPlusThree(this.id)"
													th:field="*{evaluationFormOfClassPresident.tham_gia_clb}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointThamGiaCLB"
												th:text="${evaluation.tham_gia_clb == true ? 3 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateThamGiaCLB">0</div>

										</div>

										<div class="form-group row">
											<label for="inputDatGiaiNCKH" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Sinh
												viên đạt thành tích đặc biệt trong học tập, rèn luyện: 3
												điểm - Đạt giải thưởng trong nghiên cứu khoa học, các cuộc
												thi Olympic các cấp. - Đạt huy chương, giấy khen, giải
												thưởng các cấp về văn hóa, văn nghệ, thể thao, phòng chống
												các tệ nạn xã hội, hoạt động vì cộng đồng... <i>(cộng
													3đ)</i>
											</label>
											<div class="col-sm-2">
												<input class="checkbox" type="checkbox"
													id="inputDatGiaiNCKH"
													th:onclick="clickAndPlusThree(this.id)"
													th:field="*{evaluationFormOfClassPresident.dat_giai_NCKH}">
											</div>
											<div class="col-sm-1 plusPoint" id="pointDatGiaiNCKH"
												th:text="${evaluation.dat_giai_NCKH == true ? 3 : 0}">0</div>
											<div class="col-sm-1 plusPoint monitorEvaluation"
												id="evaluateDatGiaiNCKH">0</div>

										</div>




										<div class="form-group row">
											<div class="col-sm-10" id="totalPoint5">Điểm kết luận
												của 5. [0, 10]</div>
											<div class="col-sm-1 benchmark" id="totalPointFinal5">0</div>
											<div class="col-sm-1 benchmark monitorEvaluation"
												id="evaluateTotalPoint5">0</div>
										</div>
									</div>
								</div>
							</div>

							<div class="seperator" style="padding-bottom: 170px;"></div>
							<div id="part6" class="evaluationFormFooter consultantPoint">
								<div>
									<div class="seperator"></div>

									<div class="form-group row form-group-margin totalResult">
										<div class="col-sm-10" id="totalPointAll">Tổng cộng
											(1.+2.+3.+4.+5.) [0, 100]</div>

										<input type="hidden" class="form-control"
											th:field="*{totalPoint}"> <input type="number"
											class="form-control col-sm-1 benchmark"
											id="totalPointFinalAlll" th:value="*{totalPoint}" disabled>
										<input type="hidden" class="form-control"
											th:field="*{evaluationFormOfClassPresident.totalPoint}">
										<input type="number"
											class="form-control col-sm-1 benchmark monitorEvaluation"
											id="evaluateTotalPointAll"
											th:value="*{evaluationFormOfClassPresident.totalPoint}"
											disabled>
									</div>

									<div class="seperator"></div>

									<div class="form-group row" style="margin-top: 10px">
										<div class="col-sm-10" id="totalPointAll">Xếp loại :</div>
										<div class="col-sm-1 text-info" id="rank">None</div>
										<div class="col-sm-1 text-info monitorEvaluation"
											id="evaluateRank">None</div>
									</div>
								</div>

								<div class="form-group row totalAndRank">
									<div class="col-sm-8" style="display: flex;">
										<!--                                    <div class="col-sm-2">-->
										<!--                                        <div style="display: flex;">-->
										<!--                                            <input type="radio" id="approve" name="confirm" value="Duyệt" th:onclick="approveForm()">-->
										<!--                                            <label for="approve" class="approveLabel">Duyệt</label>-->
										<!--                                        </div>-->
										<!--                                    </div>-->
										<!--                                    <div class="col-sm-6">-->
										<!--                                        <div style="display: flex;">-->
										<!--                                            <input type="radio" id="notApprove" name="confirm" value="Không duyệt" th:onclick="notApproveForm()">-->
										<!--                                            <label for="notApprove" class="approveLabel">Không duyệt</label><br>-->
										<!--                                        </div>-->
										<!--                                    </div>-->
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-success formButton">Gửi</button>
									</div>
									<div class="col-sm-2">
										<a th:href="@{/consultant/studentList}"
											class="btn btn-secondary formButton" style="color: white;">Trở
											lại</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</form>

	</main>

	<th:block th:replace="~{fragment/footer :: footer}"></th:block>

	<!-- 	<script type="text/javascript"> -->
	// var authority = "[[${userDetail.authorities}]]"; //
	console.log("Authority cua user Hien Tai Tren Console: " + authority);

	<!-- 	</script> -->
	<!-- 	<script type="text/javascript" th:src="@{/js/student/editForm.js}"></script> -->
	<!-- 	<script type="text/javascript" th:src="@{/js/common/navigation.js}"></script> -->
	<!-- 	<script type="module" th:src="@{/js/common/initPoint.js}"></script> -->
	<!-- 	<!-- 	<script type="text/javascript" th:src="@{/js/student/viewForm.js}"></script> -->
	-->
	<!-- 	<script th:src="@{/vendor/jquery/jquery-3.6.0.min.js}"></script> -->
</body>
</html>