<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <th:block id="css-resources">
        <!-- Thêm những css riêng vào đây -->
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Main content -->
    <th:block th:replace="~{fragment/nav :: ${nav}}"></th:block>
    <div class="main">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </h1>
            </div>
        </div>
        <div class="col-sm-12 box">
            <h3>Thông báo - Hướng dẫn</h3>
            <ul class="nav nav-responsive nav-tabs">
                <li class="active"><a data-toggle="tab" href="#retab1">Trường Đại học Công nghệ</a></li>
            </ul>

            <div class="tab-content">
                <h4>Dành cho sinh viên trong trường</h4>
                <ul>
                    <li><a href="">Hướng dẫn sử dụng Cổng thông tin đào tạo - Điển phiểu rèn luyện
                    </a></li>
                    <li><a href="">Điển phiếu rèn luyện</a></li>
                    <li><a href="">Xem phiếu rèn luyện</a></li>
                </ul>
                <h4>Thông tin dành cho giáo viên </h4>
                <ul>
                    <li><a href="">Cập nhật phiếu rèn luyện</a></li>
                    <li><a href="">Xem điểm rèn luyện của lớp</a></li>
                </ul>
                <div class="line"></div>
                <div class="tab-pane active">
                    <p>- Thời gian hoàn thiện phiếu đánh giá của sinh viên: từ 15/5/2021 - 30/05/2021.</p>
                    <p>- Các giáo viên cần tổng hợp phiếu đánh giá của lớp sớm nhất có thể. </p>
                </div>
            </div>

        </div>

    </div>
</main>

<th:block th:replace="~{fragment/footer :: footer}"></th:block>

<th:block id="js-resources">
    <!-- Viết những js riêng vào đây -->
</th:block>
</body>
</html>