<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Điền phiếu rèn luyện</title>
    <th:block id="css-resources">
        <!-- Thêm những css riêng vào đây -->
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" th:href="@{/css/student/form.css}">
    </th:block>

</head>
<body>
<main id="main-content">
    <!-- Main content -->
    <th:block th:replace="~{fragment/nav :: ${nav}}"></th:block>
    <div class="main">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="fas fa-pen-alt"></i>
                    <span>Điền phiếu rèn luyện</span>
                </h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="tab-content">
                <div class="col-md-10">
                    <form action="">
                        <div class="form-group row">
                            <label for="inputMsv" class="col-sm-4 col-form-label">Mã sinh viên</label>
                            <div class="col-sm-6">
                                <input type="msv" class="form-control" id="inputMsv" placeholder="Nhập mã sinh viên">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputNamHoc" class="col-sm-4 col-form-label">Năm học</label>
                            <div class="col-sm-6">
                                <select class="custom-select" required>
                                    <option value="">Năm học</option>
                                    <option value="1">Năm 2019-2020</option>
                                    <option value="2">Năm 2020-2021</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputHocKy" class="col-sm-4 col-form-label">Học kỳ</label>
                            <div class="col-sm-6">
                                <select class="custom-select" required>
                                    <option value="">Học kỳ</option>
                                    <option value="1">Học kỳ I</option>
                                    <option value="2">Học Kỳ II</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="tab-content">
                <div class="col-md-10">
                    <form action="">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label formHeader">Nội dung đánh giá</label>
                            <label class="col-sm-6 col-form-label formHeader">Sinh viên tự đánh giá</label>
                            <label class="col-sm-2 col-form-label formHeader">Điểm</label>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row">
                            <label class="col-sm-10 col-form-labe mainItem">1. Ý thức học tập</label>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">1.1 Điểm chuẩn</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 benchmark">+30</div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">1.2 Điểm trừ</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputHocLucYeu" class="col-sm-4 col-form-label">Học lực yếu</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputHocLucYeu">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCanhBaoHocVu" class="col-sm-4 col-form-label">Bị cảnh báo học vụ</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputCanhBaoHocVu">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDangKiKhongDuTin" class="col-sm-4 col-form-label">Đăng ký không đủ số tín
                                chỉ theo Quy định </label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputDangKiKhongDuTin">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputCamThiBoThi" class="col-sm-4 col-form-label">Bị cấm thi hoặc bỏ thi cuối kỳ
                                không có lý do </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputCamThiBoThi"
                                       placeholder="Số lần bỏ thi hoặc cấm thi">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKyLuatThi" class="col-sm-4 col-form-label">Kỷ luật thi</label>
                            <div class="col-sm-6">
                                <select id="inputKyLuatThi" class="custom-select form-control" required>
                                    <option value="Không">Không</option>
                                    <option value="Khiển Trách">Khiển Trách</option>
                                    <option value="Cảnh cáo">Cảnh cáo</option>
                                    <option value="Đình chỉ">Đình chỉ</option>
                                </select>
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPoint1">Điểm kết luận của 1. [0, 30]</div>
                            <div class="col-sm-2 benchmark"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row">
                            <label class="col-sm-10 col-form-labe mainItem">2. Ý thức và kết quả chấp hành nội quy, quy
                                chế trong nhà trường</label>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">2.1 Điểm chuẩn</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 benchmark">+25</div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">2.2 Điểm trừ</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKinhPhi" class="col-sm-4 col-form-label">Nộp hoặc nhận không đúng một
                                khoản kinh phí</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputKinhPhi"
                                       placeholder="Số lần nộp hoặc nhận không đúng một khoản kinh phí">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputĐangKiHoc" class="col-sm-4 col-form-label">Đăng kí học quá hạn</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputĐangKiHoc"
                                       placeholder="Số lần nộp hoặc nhận không đúng một khoản kinh phí">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKhongThucHienYeuCau" class="col-sm-4 col-form-label">Không thực hiện theo
                                Giấy triệu tập/Yêu cầu của Nhà trường</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputĐangKiHoc"
                                       placeholder="Số lần không thực hiện">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGiayToQuaHan" class="col-sm-4 col-form-label">Trả quá hạn giấy tờ/hồ sơ
                                đã được phép mượn</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputGiayToQuaHan"
                                       placeholder="Số lần trả quá hạn">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKhongBaoHiem" class="col-sm-4 col-form-label">Không tham gia Bảo hiểm Y
                                tế</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputKhongBaoHiem">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputViPhamCuTru" class="col-sm-4 col-form-label">Vi phạm quy định nơi cư
                                trú</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputViPhamCuTru"
                                       placeholder="Số lần vi phạm cư chú">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputQuyetDinhKyLuat" class="col-sm-4 col-form-label">Có quyết định kỷ
                                luật</label>
                            <div class="col-sm-6">
                                <select id="inputQuyetDinhKyLuat" class="custom-select form-control" required>
                                    <option value="Không">Không</option>
                                    <option value="Cảnh cáo">Cảnh cáo</option>
                                    <option value="Khiển Trách">Khiển Trách</option>
                                    <option value="Đình chỉ">Phê Bình</option>
                                </select>
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPoint2">Điểm kết luận của 2. [0, 25]</div>
                            <div class="col-sm-2 benchmark"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row">
                            <label class="col-sm-10 col-form-labe mainItem">3. Ý thức và kết quả tham gia hoạt động
                                chính trị - xã hội, văn hoá, văn nghệ, thể thao, phòng chống các tệ nạn xã hội</label>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">3.1 Điểm chuẩn</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 benchmark">0</div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">3.2 Điểm cộng</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputThamGiaChinhTri" class="col-sm-4 col-form-label">Tham gia đầy đủ các hoạt
                                động của chi đoàn và tham gia đầy đủ các buổi sinh hoạt chính trị theo triệu tập (nếu
                                có) của Nhà trường và tham gia đầy đủ các buổi sinh hoạt chính trị theo triệu tập (nếu
                                có) của Nhà trường</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputThamGiaChinhTri">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputThamGiaHoatDong" class="col-sm-4 col-form-label">Tham gia (có giấy xác
                                nhận) các hoạt động văn nghệ, thể thao, câu lạc bộ, hoạt động tình nguyện, ...</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputThamGiaHoatDong"
                                       placeholder="Số lần tham  gia hoạt động">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">3.2 Điểm trừ</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKhongThamGiaChinhTri" class="col-sm-4 col-form-label">Không tham gia Sinh
                                hoạt chính trị theo Quy định </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputKhongThamGiaChinhTri"
                                       placeholder="Số lần không tham gia hoạt động">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPoint2">Điểm kết luận của 3. [0, 20]</div>
                            <div class="col-sm-2 benchmark"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row">
                            <label class="col-sm-10 col-form-labe mainItem">4. Về phẩm chất công dân và quan hệ với cộng
                                đồng</label>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">4.1 Điểm chuẩn</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 benchmark">+15</div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">4.2 Điểm trừ</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKhongChapHanhLuat" class="col-sm-4 col-form-label">Có Thông báo bằng văn
                                bản về việc không chấp hành các chủ trương của Đảng, chính sách pháp luật của Nhà nước,
                                vi phạm an ninh chính trị, trật tự an toàn xã hội, an toàn giao thông</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputKhongChapHanhLuat"
                                       placeholder="Số lần vi phạm luật">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKhongDoanKet" class="col-sm-4 col-form-label">Không có tinh thần giúp đỡ
                                bạn bè, không thể hiện tinh thần đoàn kết tập thể </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputKhongDoanKet"
                                       placeholder="Số lần Không giúp đỡ bạn bè, có tinh thần đoàn kết">
                            </div>
                            <div class="col-sm-2 minusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPoint4">Điểm kết luận của 4. [0, 15]</div>
                            <div class="col-sm-2 benchmark"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row">
                            <label class="col-sm-10 col-form-labe mainItem">5. Ý thức và kết quả tham gia công tác phụ
                                trách lớp, các đoàn thể, tổ chức trong nhà trường hoặc đạt được thành tích đặc biệt
                                trong học tập, rèn luyện của học sinh, sinh viên</label>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">5.1 Điểm chuẩn</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2 benchmark">0</div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">5.2 Điểm Cộng</label>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-2"></div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Giữ các chức vụ trong các tổ chức chính quyền,
                                đoàn thể và được đánh giá hoàn thành tốt nhiệm vụ</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputGiuChucVU">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Đạt thành tích cao trong học tập và
                                NCKH:</label>
                        </div>

                        <div class="form-group row">
                            <label for="inputHocLuc" class="col-sm-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Học lực
                                (Xuất sắc, Giỏi)</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputHocLuc">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputChungChiTiengAnh" class="col-sm-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Có
                                chứng chỉ tiếng Anh vượt quy định</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputChungChiTiengAnh">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputThamGiaCuocThi" class="col-sm-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Tham
                                gia các cuộc thi chuyên môn như Procon, Olympic, An toàn thông tin ...</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="inputThamGiaCuocThi"
                                       placeholder="Số lần tham gia">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDatGiaiChuyenMon" class="col-sm-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Đạt
                                giải tại các cuộc thi chuyên môn</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputDatGiaiChuyenMon">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputThamGiaNCKH" class="col-sm-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Tham
                                gia NCKH (không phải là SV NVCL)</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputThamGiaNCKH">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="inputDatGiaiNCKH" class="col-sm-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Đạt
                                giải NCKH các cấp hoặc có báo cáo tại Hội nghị NCKH/bài báo đăng trên các tạp chí trong
                                và ngoài nước</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inputDatGiaiNCKH">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Đươc kết nạp đảng</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="inlineCheckbox1">
                            </div>
                            <div class="col-sm-2 plusPoint"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPoint5">Điểm kết luận của 1. [0, 10]</div>
                            <div class="col-sm-2 benchmark"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPointAll">Tổng cộng (1.+2.+3.+4.+5.) [0, 100]</div>
                            <div class="col-sm-2 benchmark"></div>
                        </div>

                        <div class="seperator"></div>

                        <div class="form-group row" style="margin-top: 10px">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-6" id="totalPointAll">Xếp loại</div>
                            <div class="col-sm-2 text-info"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-info formButton">
                                    <a th:href="@{/student/editForm}" style="color: white;">Sửa</a>
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button type="reset" class="btn btn-primary formButton">
                                    <a th:href="@{/student}" style="color: white;">Trở lại</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<th:block th:replace="~{fragment/footer :: footer}"></th:block>

<th:block id="js-resources">
    <!-- Viết những js riêng vào đây -->
</th:block>
</body>
</html>