.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    border: 1px solid #ddd;
}

.login-title {
    background-color: rgb(9, 157, 94);
    padding: 10px 15px;
    font-size: 21px;
}

.login-title span {
    font-size: 21px;
    color: #fff;
}

.box-content {
    padding: 10px;
}

.header .nav {
    display: none;
}
