<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <th:block id="css-resources">
        <!-- Thêm những css riêng vào đây -->
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" th:href="@{/css/admin.css}">
    </th:block>

</head>
<body>
<main id="main-content">
    <th:block th:replace="~{fragment/adminNav :: ${adminNav}}"></th:block>
    <div class="main">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="fas fa-pen-alt"></i>
                    <span>Điền phiếu rèn luyện</span>
                </h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="tab-content">
                <div class="col-md-8">
                    <form action="">
                        <div class="form-group row">
                            <label for="inputMsv" class="col-sm-2 col-form-label">Mã sinh viên</label>
                            <div class="col-sm-10">
                                <input type="msv" class="form-control" id="inputMsv" placeholder="Nhập mã sinh viên">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputNamHoc" class="col-sm-2 col-form-label">Năm học</label>
                            <div class="col-sm-10">
                                <select class="custom-select" required>
                                    <option value="">Năm học</option>
                                    <option value="1">Năm 2019-2020</option>
                                    <option value="2">Năm 2020-2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputHocKy" class="col-sm-2 col-form-label">Học kỳ</label>
                            <div class="col-sm-10">
                                <select class="custom-select" required>
                                    <option value="">Học kỳ</option>
                                    <option value="1">Học kỳ I</option>
                                    <option value="2">Học Kỳ II</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputHly" class="col-sm-2 col-form-label">Học lực yếu</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputCchv" class="col-sm-2 col-form-label">Cảnh cáo học vụ</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputCamThi" class="col-sm-2 col-form-label">Cấm thi - Bỏ thi</label>
                            <div class="col-sm-10">
                                <input type="camthi" class="form-control" id="inputCamthi"
                                       placeholder="Nhập số môn bỏ thi">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKyLuat" class="col-sm-2 col-form-label">Kỷ luật thi</label>
                            <div class="col-sm-10">
                                <input type="msv" class="form-control" id="inputKyLuat" placeholder="Kỷ luật thi">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputKinhPhi" class="col-sm-2 col-form-label">Nộp kinh phí</label>
                            <div class="col-sm-10">
                                <input type="kinhphi" class="form-control" id="inputKinhPhi"
                                       placeholder="Nộp hoặc nhận không đúng một khoản kinh phí">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputĐangKiHoc" class="col-sm-2 col-form-label">Đăng kí học quá hạn</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputTtnt" class="col-sm-2 col-form-label">Không thực hiện yêu cầu nhà
                                trường</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputGiayTo" class="col-sm-2 col-form-label">Trả quá hạn giấy tờ</label>
                            <div class="col-sm-10">
                                <input type="giayto" class="form-control" id="inputGiayTo"
                                       placeholder="Trả quá hạn số tờ">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputBaoHiem" class="col-sm-2 col-form-label">Không tham gia bảo hiểm</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Vi phạm quy định cư trú</label>
                            <div class="col-sm-10">
                                <input type="cutru" class="form-control" id="inputCuTru"
                                       placeholder="Số lần vi phạm cư chú">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Quyết định kỉ luật</label>
                            <div class="col-sm-10">
                                <input type="kiluat" class="form-control" id="inputKiLuat"
                                       placeholder="Quyết định kỉ luật">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputBaoHiem" class="col-sm-2 col-form-label">Tham gia chi đoàn chính
                                trị</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Tham gia hoạt động</label>
                            <div class="col-sm-10">
                                <input type="hoatdong" class="form-control" id="inputHoatDong"
                                       placeholder="Số lần tham  gia hoạt động">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Không tham gia hoạt động</label>
                            <div class="col-sm-10">
                                <input type="kohoatdong" class="form-control" id="inputKoHoatDong"
                                       placeholder="Số lần không tham gia hoạt động">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Không chấp hành luật</label>
                            <div class="col-sm-10">
                                <input type="" class="form-control" id="inputChapHanhLuat" placeholder="Số lần vi phạm">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Không có tinh thần đoàn kết</label>
                            <div class="col-sm-10">
                                <input type="doanket" class="form-control" id="inputDoanKet"
                                       placeholder="Số lần vi phạm">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Giữ chức vụ trong tổ chức chính quyền</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Học lực giỏi - xuất sắc</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Chứng chỉ tiếng anh</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Tham gia cuộc thi chuyên môn</label>
                            <div class="col-sm-10">
                                <input type="cuocthi" class="form-control" id="inputCuocThi"
                                       placeholder="Số lần tham gia">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Đạt giải cuộc thi</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Tham gia NCKH</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Đoạt giải NCKH</label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Kết nạp đảng </label>
                            <div class="col-sm-10">
                                <input class="" type="checkbox" id="inlineCheckbox1">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{fragment/footer :: footer}"></th:block>

<th:block id="js-resources">
    <!-- Viết những js riêng vào đây -->
</th:block>
</body>
</html>