<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <th:block id="css-resources">
        <!-- Thêm những css riêng vào đây -->
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" th:href="@{/css/admin.css}">
    </th:block>

</head>
<body>
<main id="main-content">
    <th:block th:replace="~{fragment/adminNav :: ${adminNav}}"></th:block>
    <div class="main">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Mã sinh viên</th>
                    <th scope="col">Cập nhật</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">17020965</th>
                    <td><a th:href="@{/admin/info}">Cập nhật</a></td>
                </tr>
                <tr>
                    <th scope="row">17020966</th>
                    <td><a th:href="@{/admin/info}">Cập nhật</a></td>

                </tr>
                </tbody>
                <tr>
                    <th scope="row">17020965</th>
                    <td><a th:href="@{/admin/info}">Cập nhật</a></td>

                </tr>
            </table>
        </div>
    </div>
</main>

<th:block th:replace="~{fragment/footer :: footer}"></th:block>

<th:block id="js-resources">
    <!-- Viết những js riêng vào đây -->
</th:block>
</body>
</html>