<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UET Training Point</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/css/common/main.css}">
        <link rel="stylesheet" th:href="@{/css/common/footer.css}">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
    </th:block>

    <th:block id="js-resources">
        <script type="text/javascript" th:src="@{/js/common/navigation.js}"></script>
        <script type="text/javascript" th:src="@{/js/admin/studentDetailInfo.js}"></script>
    </th:block>
</head>
<body>
<main id="main-content">
    <th:block th:replace="~{fragment/adminNav :: ${adminNav}}"></th:block>

    <div class="main">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="pull-left">
                    <i class="fas fa-pen-alt"></i>
                    <span>Cập nhật thông tin sinh viên</span>
                </h1>
            </div>
            <div class="col-sm-12">
                <form action="#" method="post" th:action="@{/saveStudent}">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            &lt;!&ndash; Lấy thông tin tài khoản &ndash;&gt;
                            <input type="hidden" class="form-control" th:field="*{student.id}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputMsv" class="col-sm-2 col-form-label">Mã sinh viên</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputMsv" th:field="*{student.user.username}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Tên sinh viên</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{student.fullName}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{student.email}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputYear" class="col-sm-2 col-form-label">Ngày sinh</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:datetime="*{student.birthday}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputYear" class="col-sm-2 col-form-label">Lớp</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{student.classes.name}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAddress" class="col-sm-2 col-form-label">Địa chỉ</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{student.address}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputYear" class="col-sm-2 col-form-label">Quê quán</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" th:field="*{student.country}">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary col-sm-1">Lưu</button>
                </form>

                <!-- <form action="#" method="post" th:action="@{/saveStudent}">
                    <input type="hidden" class="form-control" th:field="*{student.id}">
                    <input type="text" class="form-control" th:field="*{student.user.username}" disabled>
                    <input type="text" class="form-control" th:field="*{student.fullName}">
                    <input type="text" class="form-control" th:field="*{student.email}">
                    <input type="text" class="form-control" th:field="*{student.classes.name}" disabled>
                    <input type="text" class="form-control" th:field="*{student.address}">
                    <input type="text" class="form-control" th:datetime="*{student.birthday}">
                    <input type="text" class="form-control" th:field="*{student.country}">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </form> -->
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
</html>