<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UET Training Point</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/css/common/main.css}">
        <link rel="stylesheet" th:href="@{/css/common/footer.css}">
        <link rel="stylesheet" th:href="@{/css/student/form.css}">
    </th:block>

    <th:block id="js-resources">
        <script type="text/javascript" th:src="@{/js/student/addForm.js}"></script>
        <script type="text/javascript" th:src="@{/js/common/navigation.js}"></script>
        <script type="module" th:src="@{/js/common/initPoint.js}"></script>
        <script th:src="@{/vendor/jquery/jquery-3.6.0.min.js}"></script>
    </th:block>
</head>
<body>
<main id="main-content">
    <th:block th:replace="~{fragment/monitorNav :: ${monitorNav}}"></th:block>
    <div th:if="${exists}">
        <form action="#" th:action="@{/saveEvaluationFormOfMyselfMonitor}" th:object="${evaluationForm}" method="post">

            <input type="hidden" th:field="*{id}">

            <div class="main mainForm">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h1 class="pull-left">
                            <i class="fas fa-pen-alt"></i>
                            <span>Điền phiếu rèn luyện</span>
                        </h1>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label for="inputMsv" class="col-sm-2 col-form-label">Mã sinh viên</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputStudentID" disabled
                                           th:field="*{student.user.username}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputNamHoc" class="col-sm-2 col-form-label">Năm học</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputSchoolYear" disabled
                                           th:field="*{year}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputHocKy" class="col-sm-2 col-form-label">Học kỳ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inputSemester" disabled
                                           th:field="*{semesterInYear}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="col-md-12" th:onmousemove="totalPoint('totalPointFinalAlll')">
                            <div class="form-group row">
                                <label class="col-sm-8 col-form-label formHeader">Nội dung đánh giá</label>
                                <label class="col-sm-3 col-form-label formHeader">Sinh viên tự đánh giá</label>
                                <label class="col-sm-1 col-form-label formHeader">Điểm</label>
                            </div>

                            <div class="seperator"></div>

                            <div id="part1" th:onmousemove="totalPointFinal1('totalPointFinal1')">
                                <div th:onmousemove="total1('total1')">
                                    <div class="form-group row">
                                        <label class="col-sm-11 heading1">1. Ý thức học tập</label>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;1.1 Điểm chuẩn</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1 benchmark">+30</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;1.2 Điểm trừ</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputHocLucYeu" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Học lực
                                            yếu <i>(trừ 3đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputHocLucYeu"
                                                   th:field="*{hoc_luc_yeu}"
                                                   th:onclick="clickAndMinusThree(this.id)">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointHocLucYeu">0</div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputCanhBaoHocVu" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Bị cảnh
                                            báo học vụ <i>(trừ 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputCanhBaoHocVu"
                                                   th:field="*{canh_cao_hoc_vu}"
                                                   th:onclick="clickAndMinusFive(this.id)">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointCanhBaoHocVu">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputDangKiKhongDuTin" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Đăng
                                            ký không đủ số tín chỉ theo Quy định <i>(trừ 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputDangKiKhongDuTin"
                                                   th:field="*{dang_ki_khong_du_tin}"
                                                   th:onclick="clickAndMinusFive(this.id)">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointDangKiKhongDuTin">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputCamThiBoThi" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Bị cấm
                                            thi hoặc bỏ thi cuối kỳ không có lý do <i>(trừ 2đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputCamThiBoThi"
                                                   placeholder="Số lần"
                                                   th:field="*{cam_thi_bo_thi}"
                                                   th:onchange="minusTwoPerTime(this.id)">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointCamThiBoThi">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-3" id="totalLabel1">Cộng</div>
                                        <div class="col-sm-1 benchmark" id="total1">30</div>
                                    </div>

                                    <div class="form-group row" th:onmousemove="fillKyLuatThi('inputKyLuatThi')">
                                        <label for="inputKyLuatThi" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Kỷ
                                            luật thi (Khiển trách. Cảnh cáo, Đình chỉ): Trừ tương ứng 25% /50% /100%
                                            tổng số điểm của Nội dung 1.</label>
                                        <div class="col-sm-3">
                                            <select id="inputKyLuatThi" class="custom-select form-control"
                                                    th:field="*{ky_luat_thi}" required>
                                                <option th:value="NO">Không</option>
                                                <option th:value="KHIEN_TRACH">Khiển trách</option>
                                                <option th:value="CANH_CAO">Cảnh cáo</option>
                                                <option th:value="DINH_CHI">Đình chỉ</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointKyLuatThi">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-11" id="totalPoint1">Điểm kết luận của 1. [0, 30]</div>
                                        <div class="col-sm-1 benchmark" id="totalPointFinal1">30</div>
                                    </div>
                                </div>
                            </div>

                            <div class="seperator"></div>

                            <div id="part2" th:onmousemove="totalPointFinal2('totalPointFinal2')">
                                <div th:onmousemove="total2('total2')">
                                    <div class="form-group row">
                                        <label class="col-sm-11 heading1">2. Ý thức và kết quả chấp hành nội quy, quy
                                            chế trong nhà trường</label>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;2.1 Điểm chuẩn</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1 benchmark">+25</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;2.2 Điểm trừ</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputNopNhanKinhPhi" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Nộp
                                            hoặc nhận không đúng một khoản kinh phí <i>(trừ 5đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputNopNhanKinhPhi"
                                                   placeholder="Số lần" th:onchange="minusFivePerTime(this.id)"
                                                   th:field="*{nop_nhan_kinh_phi}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointNopNhanKinhPhi">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputĐangKiHoc" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Đăng kí
                                            học quá hạn <i>(nếu được chấp nhận -2đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputĐangKiHoc"
                                                   th:onclick="clickAndMinusTwo(this.id)"
                                                   th:field="*{dang_ki_hoc_qua_han}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointĐangKiHoc">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputKhongThucHienYeuCau" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Không
                                            thực hiện theo Giấy triệu tập/Yêu cầu của Nhà trường <i>(trừ
                                                5đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputKhongThucHienYeuCau"
                                                   placeholder="Số lần" th:onchange="minusFivePerTime(this.id)"
                                                   th:field="*{khong_thuc_hien_yeu_cau}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointKhongThucHienYeuCau">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputGiayToQuaHan" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Trả
                                            quá hạn giấy tờ/hồ sơ đã được phép mượn <i>(trừ 5đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputGiayToQuaHan"
                                                   placeholder="Số lần" th:onchange="minusFivePerTime(this.id)"
                                                   th:field="*{tra_qua_han_giay_to}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointGiayToQuaHan">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputKhongBaoHiem" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Không
                                            tham gia Bảo hiểm Y tế <i>(trừ 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputKhongBaoHiem"
                                                   th:onclick="clickAndMinusFive(this.id)"
                                                   th:field="*{khong_tham_gia_bao_hiem}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointKhongBaoHiem">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputViPhamCuTru" class="col-sm-8">&nbsp;&nbsp;&nbsp;&nbsp;-Vi phạm
                                            quy định nơi cư trú <i>(trừ 10đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputViPhamCuTru"
                                                   placeholder="Số lần"
                                                   th:onchange="minusTenPerTime(this.id)"
                                                   th:field="*{vi_pham_quy_dinh_cu_tru}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointViPhamCuTru">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-3" id="totalLabel2">Cộng</div>
                                        <div class="col-sm-1 benchmark" id="total2">25</div>
                                    </div>

                                    <div class="form-group row"
                                         th:onmousemove="fillQuyetDinhKyLuat('inputQuyetDinhKyLuat')">
                                        <label for="inputQuyetDinhKyLuat" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Có
                                            quyết định kỷ luật (Phê bình, Khiển trách, Cảnh cáo): Trừ tương ứng 25% /50%
                                            /100% tổng số điểm của Nội dung 2.</label>
                                        <div class="col-sm-3">
                                            <select id="inputQuyetDinhKyLuat" class="custom-select form-control"
                                                    required
                                                    th:field="*{quyet_dinh_ky_luat}">
                                                <option th:value="NO">Không</option>
                                                <option th:value="PHE_BINH">Phê Bình</option>
                                                <option th:value="KHIEN_TRACH">Khiển Trách</option>
                                                <option th:value="CANH_CAO">Cảnh cáo</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointQuyetDinhKyLuat">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-11" id="totalPoint2">Điểm kết luận của 2. [0, 25]</div>
                                        <div class="col-sm-1 benchmark" id="totalPointFinal2">25</div>
                                    </div>
                                </div>
                            </div>

                            <div class="seperator"></div>

                            <div id="part3">
                                <div th:onmousemove="totalPointFinal3('totalPointFinal3')">
                                    <div class="form-group row">
                                        <label class="col-sm-11 heading1">3. Ý thức và kết quả tham gia hoạt động chính
                                            trị - xã hội, văn hoá, văn nghệ, thể thao, phòng chống các tệ nạn xã
                                            hội</label>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;3.1 Điểm chuẩn</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1 benchmark">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;3.2 Điểm cộng</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputThamGiaChinhTri" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Tham
                                            gia đầy đủ các hoạt động của chi đoàn và tham gia đầy đủ các buổi sinh hoạt
                                            chính trị theo triệu tập (nếu có) của Nhà trường và tham gia đầy đủ các buổi
                                            sinh hoạt chính trị theo triệu tập (nếu có) của Nhà trường <i>(cộng 10đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputThamGiaChinhTri"
                                                   th:onclick="clickAndPlusTen(this.id)"
                                                   th:field="*{tham_gia_chi_doan_chinh_tri}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointThamGiaChinhTri">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputThamGiaHoatDong" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Tham
                                            gia <b>(có giấy xác nhận)</b> các hoạt động văn nghệ, thể thao, câu lạc bộ,
                                            hoạt động tình nguyện, ... <i>(cộng 2đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputThamGiaHoatDong"
                                                   placeholder="Số lần" th:onchange="plusTwoPerTime(this.id)"
                                                   th:field="*{tham_gia_hoat_dong}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointThamGiaHoatDong">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;3.2 Điểm trừ</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputKhongThamGiaChinhTri" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Không
                                            tham gia Sinh hoạt chính trị theo Quy định <i>(trừ 2đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputKhongThamGiaChinhTri"
                                                   placeholder="Số lần" th:onchange="minusTwoPerTime(this.id)"
                                                   th:field="*{khong_tham_gia_sinh_hoat}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointKhongThamGiaChinhTri">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-11" id="totalPoint2">Điểm kết luận của 3. [0, 20]</div>
                                        <div class="col-sm-1 benchmark" id="totalPointFinal3">0</div>
                                    </div>
                                </div>
                            </div>

                            <div class="seperator"></div>

                            <div id="part4">
                                <div th:onmousemove="totalPointFinal4('totalPointFinal4')">
                                    <div class="form-group row">
                                        <label class="col-sm-11 heading1">4. Về phẩm chất công dân và quan hệ với cộng
                                            đồng</label>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;4.1 Điểm chuẩn</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1 benchmark">+15</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;4.2 Điểm trừ</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputKhongChapHanhLuat" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Có
                                            Thông báo bằng văn bản về việc không chấp hành các chủ trương của Đảng,
                                            chính sách pháp luật của Nhà nước, vi phạm an ninh chính trị, trật tự an
                                            toàn xã hội, an toàn giao thông <i>(trừ 5đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputKhongChapHanhLuat"
                                                   placeholder="Số lần" th:onchange="minusFivePerTime(this.id)"
                                                   th:field="*{khong_chap_hanh_luat}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointKhongChapHanhLuat">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputKhongDoanKet" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Không
                                            có tinh thần giúp đỡ bạn bè, không thể hiện tinh thần đoàn kết tập thể <i>(trừ
                                                5đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputKhongDoanKet"
                                                   placeholder="Số lần" th:onchange="minusFivePerTime(this.id)"
                                                   th:field="*{khong_co_tinh_than_doan_ket}">
                                        </div>
                                        <div class="col-sm-1 minusPoint" id="pointKhongDoanKet">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-11" id="totalPoint4">Điểm kết luận của 4. [0, 15]</div>
                                        <div class="col-sm-1 benchmark" id="totalPointFinal4">15</div>
                                    </div>
                                </div>
                            </div>

                            <div class="seperator"></div>

                            <div id="part5">
                                <div th:onmousemove="totalPointFinal5('totalPointFinal5')">
                                    <div class="form-group row">
                                        <label class="col-sm-11 heading1">5. Ý thức và kết quả tham gia công tác phụ
                                            trách lớp, các đoàn thể, tổ chức trong nhà trường hoặc đạt được thành tích
                                            đặc biệt trong học tập, rèn luyện của học sinh, sinh viên</label>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;5.1 Điểm chuẩn</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1 benchmark">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-8 heading2">&nbsp;&nbsp;5.2 Điểm Cộng</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Giữ các
                                            chức vụ trong các tổ chức chính quyền, đoàn thể và được đánh giá hoàn thành
                                            tốt nhiệm vụ <i>(cộng 10đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputGiuChucVu"
                                                   th:onclick="clickAndPlusTen(this.id)"
                                                   th:field="*{giu_chuc_vu}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointGiuChucVu">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Đạt thành
                                            tích cao trong học tập và NCKH:</label>
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputHocLuc" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Học
                                            lực (Xuất sắc, Giỏi) <i>(cộng 10đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputHocLuc"
                                                   th:onclick="clickAndPlusTen(this.id)"
                                                   th:field="*{hoc_luc_gioi_xuat_sac}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointHocLuc">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputChungChiTiengAnh" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Có
                                            chứng chỉ tiếng Anh vượt quy định <i>(cộng 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputChungChiTiengAnh"
                                                   th:onclick="clickAndPlusFive(this.id)"
                                                   th:field="*{chung_chi_tieng_Anh}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointChungChiTiengAnh">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputThamGiaCuocThi" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Tham
                                            gia các cuộc thi chuyên môn như Procon, Olympic, An toàn thông tin ... <i>(cộng
                                                2đ/lần)</i></label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputThamGiaCuocThi"
                                                   placeholder="Số lần" th:onchange="plusTwoPerTime(this.id)"
                                                   th:field="*{tham_gia_cuoc_thi}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointThamGiaCuocThi">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputDatGiaiChuyenMon" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Đạt
                                            giải tại các cuộc thi chuyên môn <i>(cộng 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputDatGiaiChuyenMon"
                                                   th:onclick="clickAndPlusFive(this.id)"
                                                   th:field="*{dat_giai_cuoc_thi}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointDatGiaiChuyenMon">0</div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="inputThamGiaNCKH" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Tham
                                            gia NCKH (không phải là SV NVCL) <i>(cộng 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputThamGiaNCKH"
                                                   th:onclick="clickAndPlusFive(this.id)"
                                                   th:field="*{tham_gia_NCKH}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointThamGiaNCKH">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputDatGiaiNCKH" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+Đạt
                                            giải NCKH các cấp hoặc có báo cáo tại Hội nghị NCKH/bài báo đăng trên các
                                            tạp chí trong và ngoài nước <i>(cộng 5đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputDatGiaiNCKH"
                                                   th:onclick="clickAndPlusFive(this.id)"
                                                   th:field="*{dat_giai_NCKH}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointDatGiaiNCKH">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputKetNapDang" class="col-sm-8 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;-Được
                                            kết nạp đảng <i>(cộng 10đ)</i></label>
                                        <div class="col-sm-3">
                                            <input class="checkbox" type="checkbox" id="inputKetNapDang"
                                                   th:onclick="clickAndPlusTen(this.id)"
                                                   th:field="*{ket_nap_Dang}">
                                        </div>
                                        <div class="col-sm-1 plusPoint" id="pointKetNapDang">0</div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-11" id="totalPoint5">Điểm kết luận của 5. [0, 10]</div>
                                        <div class="col-sm-1 benchmark" id="totalPointFinal5">0</div>
                                    </div>
                                </div>

                                <div class="seperator" style="padding-bottom: 170px;"></div>

                                <div id="part6" class="evaluationFormFooter monitorPoint">
                                    <div>
                                        <div class="form-group row form-group-margin totalResult">
                                            <div class="col-sm-11" id="totalPointAll">Tổng cộng (1.+2.+3.+4.+5.) [0,
                                                100]
                                            </div>
                                            <input type="hidden" class="form-control" th:field="*{totalPoint}">
                                            <input type="number" class="form-control col-sm-1 benchmark"
                                                   id="totalPointFinalAlll" th:value="*{totalPoint}" disabled>
                                        </div>

                                        <div class="seperator"></div>

                                        <div class="form-group row" style="margin-top: 10px">
                                            <div class="col-sm-10" id="totalPointAll">Xếp loại :</div>
                                            <div class="col-sm-2 text-info" id="rank">None</div>
                                        </div>
                                    </div>

                                    <div class="form-group row totalAndRank">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-success formButton">Gửi</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <a th:href="@{/student}" class="btn btn-secondary formButton"
                                               style="color: white;">Trở lại</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div th:unless="${exists}">
        <th:block th:replace="~{fragment/noSemester :: ${noSemester}}"></th:block>
    </div>
</main>

<th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
</html>