<th:block th:fragment="full-header">
    <header class="header container-sm">

        <nav class="navbar navbar-default">
            <div class="header-logo">
                <a href="/">
                    <img th:src="@{/image/logo.png}" alt="VNU" height="78">
                </a>
                <div class="header-title ">
                    <h3>CỔNG THÔNG TIN ĐÀO TẠO ĐẠI HỌC</h3>
                </div>
            </div>

            <ul class="nav">
                <li class="dropdown dark">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span> Xin chào : <strong>Dương Tuấn Phương</strong> <strong> - [17020965]</strong></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href=""> <i class="fas fa-user"></i> Cập nhật tài khoản</a></li>
                        <li class="divider"></li>
                        <li><a href=""><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</th:block>

