<th:block th:fragment="nav">
    <div class="main-nav">
        <ul class="navigation">
            <li><a th:href="@{/student}"><i class="fas fa-home"></i> <span>Trang chủ</span></a></li>
            <li><a th:href="@{/student/addForm}">
                <i class="fab fa-stack-overflow"></i>
                <span> Điền phiếu </span>
            </a>
            </li>
            <li><a href="#">
                <i class="fab fa-stack-overflow"></i>
                <span> Xem điểm rèn luyện </span>
            </a>
            </li>
            <li><a th:href="@{/student/point}">
                <i class="fab fa-stack-overflow"></i>
                <span> Xem điểm rèn luyện của lớp </span>
            </a>
            </li>

        </ul>
    </div>
</th:block>