.tab-content label.formHeader {
    font-size: 20px !important;
    text-align: center;
    font-weight: 1000;
}

.tab-content .checkbox {
    margin-top: 10px;
}

.tab-content .form-group.row label {
    font-size: 16px;
}

.tab-content .heading1 {
    font-weight: 1000;
    margin-top: 20px;
    font-size: 20px !important;
}

.tab-content .heading2 {
    font-weight: 700;
    font-size: 18px !important;
}

.tab-content .seperator {
    border-bottom: 1px outset gray;
}

.tab-content .benchmark,
.tab-content .plusPoint,
.tab-content .minusPoint {
    font-size: 18px;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tab-content .benchmark {
    background-color: #0091eaa8;
    color: white;
}

.tab-content .plusPoint {
    background-color: #43a047cc;
    color: white;
}

.tab-content .minusPoint {
    /* background-color: rgb(220, 53, 69); btn-danger */
    background-color: #f443369e;
    color: white;
}

.tab-content .formButton {
    margin-top: 30px;
    color: #fff;
    border: none;
    border-radius: 2px;
    text-shadow: none;
    padding: 6px 18px;
    box-shadow: 0 -1px 0 rgb(0 0 0 / 10%) inset;
    font-size: 1.08em;
    width: 100px;
}

.tab-content .monitorEvaluation {
    border-left: 1px solid white !important;
}

 #rank,
 #evaluateRank {
    font-size: 15px;
    display: flex;
    justify-content: center;
    width:200px;
}

.tab-content .totalAndRank {
    margin-top: -25px;
}

[id^='totalPoint'],
[id^='total'],
[id^='evaluateTotal'] {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
}

.evaluationFormFooter {
    bottom: -1px;
}

.evaluationFormFooter .tab-content {
    padding-top: 0px !important;
}

.evaluationFormFooter .tab-content .consultantInfo {
    display: flex;
}

.evaluationFormFooter .tab-content .consultantInfo label {
    font-size: 20px;
}

.evaluationFormFooter .tab-content .consultantInfo #consultantName {
    font-size: 20px;
    padding-left: 5px;
}

.studentPoint {
  position: fixed;
  right: 35px;
  bottom: 74px;
  left: 0;
  background: white;
  padding-left: 15%;
}

.monitorPoint {
  position: fixed;
  right: 35px;
  bottom: 74px;
  left: 0;
  background: white;
  padding-left: 15%;
}

.consultantPoint {
  position: fixed;
  right: 35px;
  bottom: 74px;
  left: 0;
  background: white;
  padding-left: 15%;
}

.totalResult {
  margin: 1rem 0;
}
@media only screen and (min-width: 1920px) {
  .studentPoint {
    right: 128px;
  }
  .monitorPoint {
    right: 35px;
  }
  .consultantPoint {
    right: 35px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .studentPoint {
    right: 20px;
  }
}
