* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}


a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-title h3 {
    color: #007F49;
}


.header-right {
    background-color: #49BF67;
}


.dropdown-toggle {
    position: relative;
    background-color: #49BF67;
    display: flex;
    align-items: center;
    padding: 15px;
}

.dropdown-toggle *, .dropdown-toggle::after {
    color: #fff;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.user-name * {
    color: #fff;
}


#main-content {
    display: flex;
}

.main-nav {
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: #f4f4f4;
}

.main-nav ul {
    padding: 0;
}

.main-nav ul li {
    border-bottom: 1px solid #e7e7e7;
}

.main-nav ul li a {
    color: #222;
    display: block;
    padding: 10px;
    font-size: 16px !important;
}

.main-nav a * {
    font-size: 16px;
}

.main-nav a:hover {
    background-color: #fff;
}

.fa-sort-down {
    float: right;
}


.main {
    padding-left: 10px;
    width: 100%;
    background: #fbfbfb;
}


.page-header {
    border-bottom-color: #ddd;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    color: #222;
    background: #fff;
    min-height: 85px;
    padding: 20px;
    border-bottom: 1px solid #eee;

}

.main .fas {
    color: #49bf67;
}

.page-header i {
    font-size: 20px;
}

.page-header span {
    text-transform: uppercase;
    font-weight: bold;
}

.main h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 21px;
    text-transform: uppercase;
}

.nav-tabs > li.active > a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 15px;

}


.tab-content {
    padding: 20px 5px 0 5px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
}

.tab-content > ul {
    list-style-type: disc;
}

.tab-content > ul > li > a {
    color: #007f49;
    font-size: 18px;
}

.line {
    border-bottom: dotted 1px #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-input {
    width: 50%;
    margin: auto;
}


.tab-content > .col-md-6 {
    padding-left: 50px;
}

.col-sm-10 {
    display: flex;
    align-items: center;
}

.tab-content form {
    padding-bottom: 10px;
}