<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UET Training Point - Đăng ký</title>
    <th:block id="css-resources">
        <link rel="stylesheet" th:href="@{/css/common/main.css}">
        <link rel="stylesheet" th:href="@{/css/common/footer.css}">
        <link rel="stylesheet" th:href="@{/css/account/account.css}">
    </th:block>
</head>
<body>
<main id="main-content">
    <div class="login-form">
        <div class="login-title">
            <span>Đăng ký</span>
        </div>

        <div class="box-content">
            <div class="form-group">
                <label for="InputEmail">Tên truy cập</label>
                <input type="email" class="form-control" placeholder="Tên truy cập">
            </div>
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="InputPassword">Mật khẩu</label>
                <input type="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <div class="form-group">
                <label for="InputPhone">Số điện thoại</label>
                <input type="phone" class="form-control" placeholder="Số điện thoại">
            </div>
            <button type="submit" class="btn btn-success">Đăng ký</button>
        </div>

    </div>
</main>
</body>
</html>