* {
    font-family: 'Segoe UI';
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}

body {
    overflow: hidden;
}

a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input {
    border: 1px outset;
}

a {
    color: black;
}

.header {
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-title h3 {
    color: #007F49;
}


.header-right {
    background-color: #49BF67;
}


.dropdown-toggle {
    position: relative;
    background-color: #49BF67;
    display: flex;
    align-items: center;
    padding: 15px;
}

.dropdown-toggle *,
.dropdown-toggle::after {
    color: #fff;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.user-name * {
    color: #fff;
}


#main-content {
    display: flex;
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 74px;
    overflow-y: auto;
}

#main-content form {
    width: 100%;
}

.main-nav {
    z-index: 10;
    left: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #f5f5f5;
    border-right: 1px solid #e7e7e7;
}

.main-nav ul {
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
}

.main-nav ul li {
    border-bottom: 1px solid #e7e7e7;
    transition: 0.3s;
}

.main-nav ul li:hover {
    background-color: #d8d8d8;
}

.main-nav ul li a {
    color: #222;
    display: block;
    padding: 10px;
    font-size: 16px !important;
}

.main-nav a * {
    font-size: 16px;
}

.main-nav .active a * {
    color: white;
}

.main-nav .navigation .active {
    background-color: rgb(9, 157, 94) !important;
    color: white;
    font-weight: 600;
}

.fa-sort-down {
    float: right;
}


.main {
    padding-left: 15%;
    width: 100%;
    background: #fbfbfb;
}

.mainForm {
    height: fit-content;
}


.page-header {
    border-bottom-color: #ddd;
    margin-right: -15px;
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    color: #222;
    background: #fff;
    min-height: 85px;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.main .fas {
    color: #49bf67;
}

.page-header i {
    font-size: 20px;
}

.page-header span {
    text-transform: uppercase;
    font-weight: bold;
}

.main h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 21px;
    text-transform: uppercase;
}

.nav-tabs > li.active > a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 10px 15px;

}


.tab-content {
    padding: 20px 5px 0px 5px;
    border-top: none;
    background: #fff;
}

.tab-content > ul {
    list-style-type: disc;
}

.tab-content > ul > li > a {
    color: #007f49;
    font-size: 18px;
}

.line {
    border-bottom: dotted 1px #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-input {
    width: 50%;
    margin: auto;
}


.tab-content > .col-md-6 {
    padding-left: 50px;
}

.col-sm-10 {
    display: flex;
    align-items: center;
}

.tab-content form {
    padding-bottom: 10px;
}


a.changeStudent {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

a.changeStudent:hover {
    background-color: #00945e;
    color: #fff;
}

.previous.changeStudent {
    background-color: #04aa6d;
    color: #fff;
}

.next.changeStudent {
    background-color: #04aa6d;
    color: #fff;
}

table.dataTable thead th,
table.dataTable tbody td {
    text-align: center;
    vertical-align: middle;
}

table.dataTable thead th input {
    display: block;
    padding: 2px 0 2px 10px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.evaluationFormFooter .form-group-margin {
    margin-top: 1rem;
}

input:focus {
    outline: none;
}

.table-student {
    padding-top: 10px;
}

