<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'full-header',
                                                'nav',
                                                'footer',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Training Point</title>
<th:block id="css-resources">
	<link rel="stylesheet" th:href="@{/css/common/main.css}">
	<link rel="stylesheet" th:href="@{/css/common/footer.css}">
	<link rel="stylesheet" th:href="@{/css/admin/admin.css}">
	<link rel="stylesheet"
		th:href="@{/vendor/DataTable/datatables.min.css}">
</th:block>

<th:block id="js-resources">
	<script type="text/javascript" th:src="@{/js/admin/classList.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/navigation.js}"></script>
	<script type="text/javascript"
		th:src="@{/vendor/jquery/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/vendor/DataTable/datatables.min.js}"></script>
</th:block>
</head>
<body>
	<main id="main-content">
		<th:block th:replace="~{fragment/adminNav :: ${adminNav}}"></th:block>

		<div class="main">
			<div class="col-sm-12">
				<div class="page-header">
					<h1 class="pull-left col-sm-8">
						<i class="fas fa-home"></i> <span>Danh sách các Lớp</span>
					</h1>
				</div>
			</div>

			<div class="col-sm-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Niên khóa</th>
							<th>Tên lớp</th>
							<th>Danh sách sinh viên</th>
<!-- 							<th id="deleteHeader">Xóa</th> -->
						</tr>
					</thead>
					<tbody id="classListOfAdmin">
						<tr th:each="list :${list}">
							<td class="schoolYear">Niên khóa</td>
							<td class="className" th:text="${list.name}"></td>
							<td><a class="detailStudentList"
								th:href="@{/admin/studentList/{name}(name = ${list.name})}">Xem
									danh sách sinh viên</a></td>

<!-- 							<td><a -->
<!-- 								th:href="@{/admin/classlist/delete/{id}(id = ${list.id})}"> -->
<!-- 									<button class="btn btn-primary btn-sm rounded-0" type="button" -->
<!-- 										data-toggle="tooltip" data-placement="top" title="Edit"> -->
<!-- 										<i class="fa fa-trash"></i> -->
<!-- 									</button> -->
<!-- 							</a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="col-sm-12">
            <a th:href="@{/admin/statistical/all}" class="btn btn-success formButton" style="color: white;">Thông kê điểm toàn trường</a>
        </div> -->

			<div class="col-sm-12">
				<a th:href="@{/admin/add/addClass}"
					class="btn btn-success formButton" style="color: white;">Thêm
					lớp</a>
			</div>
		</div>
	</main>

	<th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
</html>